[metadata]
creation_date = "2023/07/11"

[rule]
author = ["Anthony Isherwood"]
description = "Using Zeek HTTP data, we're looking at .bat file extensions on any destination port that isn't port 80."
from = "now-6m"
name = "Bat files observed in HTTP Traffic on Unusual Port "
risk_score = 100
severity = "medium"
type = "query"
rule_id = "00000000-0000-0000-0000-000000000001"
query = '''
event.dataset: zeek.http and url.extension : bat and not destination.port : 80
'''

[[rule.threat]]
framework = "MITRE ATT&CK"
[[rule.threat.technique]]
id = "T1059"
name = "Command and Scripting Interpreter"
reference = "https://attack.mitre.org/techniques/T1059/"
[[rule.threat.technique.subtechnique]]
id = "T1059.003"
name = "Windows Command Shell"
reference = "https://attack.mitre.org/techniques/T1059/003/"


[rule.threat.tactic]
id = "TA0002"
name = "Execution"
reference = "https://attack.mitre.org/tactics/TA0002/"