[metadata]
creation_date = "2023/07/11"

[rule]
author = ["Anthony Isherwood"]
description = "From looking at the sysmon_operational logs, we're triggering on powershell running through a bat file execution."
from = "now-6m"
name = "PowerShell Execution via a BAT File"
risk_score = 50
severity = "medium"
type = "query"
rule_id = "00000000-0000-0000-0000-000000000006"
query = '''
process.command_line : powershell* and process.parent.command_line : *bat* and process.parent.name: cmd.exe
'''

[[rule.threat]]
framework = "MITRE ATT&CK"
[[rule.threat.technique]]
id = "T1059"
name = "Command and Scripting Interpreter"
reference = "https://attack.mitre.org/techniques/T1059/"
[[rule.threat.technique.subtechnique]]
id = "T1059.001"
name = "PowerShell"
reference = "https://attack.mitre.org/techniques/T1059/001/"

[rule.threat.tactic]
id = "TA0002"
name = "Execution"
reference = "https://attack.mitre.org/tactics/TA0002/"